* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}
body {
  margin: 0;
  padding: 1em;
  background: #000 url(wallpaper.png);
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size: 0.9em;
  color: #eee;
}
section {
  padding-top: 0.7em;
}
h1 {
  font-size: 1.2em;
  cursor: default;
  color: #eee;
  font-weight: 300;
}
ul {
  list-style-type: none;
  padding: 0;
}
.emoji {
  font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
}
.player {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.player .time {
  font-size: 0.8em;
}
.tracks ul {
  display: inline-block;
}
.tracks li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.tracks li a {
  color: #fff;
  background: #000;
  padding: 0.3em;
}
.tracks li a:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}
.tracks li a.paused:hover,
.tracks li a.playing:hover {
  color: #000;
  text-decoration: none;
}
.tracks li a.paused {
  background: #ff0;
  color: #000;
  text-decoration: none;
}
.tracks li a.playing {
  background: #0f0;
  color: #000;
  text-decoration: none;
}
.tracks li span.time {
  margin-left: 1em;
  font-size: 0.8em;
  color: #ccc;
}
.player {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.player > *:not(:last-child) {
  margin-right: 1em;
}
.player, .controls {
  display: none;
}
.controls li {
  padding-top: 0.5em;
}
button {
  padding: 0.7em;
  background: #333;
  color: #eee;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}
button:hover {
  background: #222;
}

@media (min-width: 600px) {
}

